/* Write your code here. */
.container{
    background-image: linear-gradient( #1d976c,#93f9b9);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.column{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
img{
    width: 50%;
}
.label{
    color:white;
    font-size: 10px;
}
.inputWord{
    background-color: transparent;
    width:80%;
    border:#e4e7eb solid 0.5px;
    margin-bottom: 15px;
}
.button{
    border-radius: 5px;
    border:white solid 2px ;
    background-color: white;
    padding: 10px;
    color:#1d976c;
}
h1{
    color:white;
}
@media (max-width:768px){
    .container{
        flex-direction: column-reverse;

    }
}